* {
  font-family: "Bruno Ace SC", cursive;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("./assets/matrix-code.jpg");
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}
.cell {
  background-color: white;
  height: 1rem;
  width: 1rem;
  outline: 1px solid black;
}

#game-display {
  display: flex;
  flex-flow: row wrap;
  width: 40rem;
  height: 100%;
  border: solid 1px black;
}

#game-area {
  padding: 2.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 51.23rem;
  height: 100%;
  background-color: lightgray;
}

#scores {
  display: flex;
  justify-content: space-between;
  width: 66%;
}

#mobile-buttons {
  display: none;
}

@media (max-width: 550px) {
  html {
    height: 100%;
    background-image: none;
    background-color: lightgray;
    align-items: baseline;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  #scores {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }

  .cell {
    height: 0.5rem;
    width: 0.5rem;
    outline: 1px solid black;
  }

  #game-area {
    padding: 0;
    width: 20rem;
    height: 100%;
    background-color: lightgray;
  }

  #settings-button {
    position: relative;
    align-self: flex-start;
    top: 1rem;
    left: 1rem;
  }

  #game-display {
    display: flex;
    flex-flow: row wrap;
    width: 20rem;
    border: solid 1px black;
  }

  #mobile-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    width: 80%;
    padding: 2rem;
  }

  button {
    touch-action: manipulation;
    height: 5rem;
    font-size: 3rem;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
